<div style="width: 100%" class="container">
    <div class="row">
      <div class="col s6">
        <div class="left-align">
          <h6 class="float-left"><p id="userNameDisplay"></p></h6>
        </div>
      </div>
      {{!-- <div class="col s6">
        <div class="right-align">
          <img class="z-depth-4 float-right" height="20px"src="assets/img/other/enzo.png">
        </div>
      </div> --}}
  </div><!--row-->
</div>
