<style>
  body {
    background-image: url("assets/img/bg/stardust.png");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }

  main {
    flex: 1 0 auto;
  }

  h1 {
      color: #254558;
      weight: 800;
  }

</style>

  <body>
    <div class="section"></div>
    <main>
      <center>
        <div class="section"></div>

        <div class="container">
          <div class="z-depth-1 lighten-4 row" style="display: inline-block; background: #f4f5f5; padding: 32px 4.5em 0px 4.5em; border: 1px solid #EEE;">

              <h1>Boxy Box</h1>
            <form class="col s12" method="post">
                <!-- Extra blank row gives spacing -->
              <div class='row'>
                <div class='col s12'>
                </div>
              </div>

              <div class='row'>
                <div class='input-field col s12'>
                  <input id='txtUserName' placeholder="  Username">
                </div>
              </div>

              <div class='row'>
                <div class='input-field col s12'>
                  <input id='txtPassword' type="password" placeholder="  Password">
                </div>
              </div>

              <br>
              <center>
                <div class='row'>
                  <button type='submit' id="btnLogin" name='btnLogin' class='col s12 btn btn-small waves-effect' style="background:#1ed2f4">Login</button>
                </div>
              </center>
              <center>
                <div class='row'>
                  <button type='submit' id="btnSignUp" name='btnSignup' class='col s12 btn btn-small waves-effect' style="background:#1ed2f4">Sign Up</button>
                </div>
              </center>
            </form>
          </div>
        </div>
         <button type='submit' name='admin' id="admin" class='col s12 btn btn-small waves-effect' style="background:#1ed2f4">Admin</button>
      </center>

      <p id="dupe" class="duped hide">Username already taken</p>
      <p id="badCred" class="badCred hide">Incorrect Username/Password</p>
      <p id="noCred" class="noCred hide">Please enter Username/Password</p>

      <div class="section"></div>
      <div class="section"></div>
    </main>
<script src="/assets/js/log-in.js"></script>
