<style>
    .images {
        display: none;
    }
    #image:hover {
      cursor:pointer;
    }
    body {
      background-color: #1ed2f4
    }

</style>



{{>nav-partial}}



<br>

<div class="row">
    <div id="leader" class="col s12 point">
        <div class="right-align">{{>leaderboard-partial}}</div>
    </div><!--col-->
  </div><!--row-->
</div>
<div class="container" style="width: 100%">
 <br><br><br>
    <div class="row valign-wrapper" >
        <div class="col s12 center-align">
            <img id="image" class=" center-align" src="assets/img/other/chest.png" height="600px">
            <div class="col">
            <span class="images" ><img id="1"width="350px" src="assets/img/other/question.png"></span>
            
            <span class="images" ><img id="2" width="350px" src="assets/img/other/question.png"></span>
            <span class="images" ><img id="3"width="350px" src="assets/img/other/question.png"></span>
        </div><!--col-->
    </div><!--row-->
</div>
